.h2 {
	position: relative;
	text-align: center; 
	line-height: 130%; 
	font-weight: 70%;

}
.h1 {
	position: relative;
	text-align: center; 
	line-height: 100%; 
	font-weight: 100%;
	
}
.ImagesCentr {position:relative;
}